In [1]:
import pandas as pd

In [2]:
dfs = []
dfs.append(pd.read_csv("all_pop_data_rtf.csv"))
dfs.append(pd.read_csv("all_pop_data_txt.csv"))

In [3]:
all_data = pd.concat(dfs)
pgs = pd.read_csv("prison_groups_lookup.csv")
all_data = all_data.merge(pgs, left_on="prison_name", right_on="prison_name_original", how="left")
all_data.head(2)

,prison_name,baseline_cna,in_use_cna,operational_capacity,population,perc_pop_to_used_cna,perc_acc_available,date,source,prison_name_original,prison_name_group
0,Altcourse,794,794,1133,1113,1.40,1,2015-02-27,http://www.gov.uk/government/uploads/system/up...,Altcourse,Altcourse
1,Ashfield,408,408,400,391,0.96,1,2015-02-27,http://www.gov.uk/government/uploads/system/up...,Ashfield,Ashfield

In [4]:
all_data = all_data.drop(["prison_name", "prison_name_original"], axis=1)
all_data.head(2)

,baseline_cna,in_use_cna,operational_capacity,population,perc_pop_to_used_cna,perc_acc_available,date,source,prison_name_group
0,794,794,1133,1113,1.40,1,2015-02-27,http://www.gov.uk/government/uploads/system/up...,Altcourse
1,408,408,400,391,0.96,1,2015-02-27,http://www.gov.uk/government/uploads/system/up...,Ashfield

In [5]:
all_data  = all_data.pivot_table(index=["prison_name_group", "source", "date"], aggfunc="sum", values = ["operational_capacity", "baseline_cna", "in_use_cna","population"]).reset_index()

In [6]:
all_prisons = all_data.pivot_table(index="prison_name_group")
all_prisons = all_prisons.reset_index()
all_prisons = all_prisons[["prison_name_group"]]
all_prisons.columns = ["prison_name"]

In [7]:
all_prisons.to_csv("all_prisons_including_closed.csv", index=False, encoding="utf-8")